/*Your Code Here*/

* {
     font-family: "Atkinson Hyperlegible", sans-serif;
     font-size: 16px;
}

h1,
h2,
h3 {
     font-family: "Oswald", sans-serif;
     font-optical-sizing: auto;
}

h1 {
     font-size: 32px;
}

h2 {
     font-size: 24px;
}

h3 {
     font-size: 20px;
}

header {
     background-color: #00274C;
}

header img {
     width: 50px;
}

iframe,
img {
     width: 100%;
}



nav ul {
     padding: 25px;
     text-align: left;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
}

nav li{
     padding: 20px 0;
     grid-column: 1 / span 4;
     text-align: center;
     width: 100%;
}

nav a{
  color:#FFCB05;
  font-weight: bold;
  text-decoration: none;

}

.skip {
     position: absolute;
     top: -65px;
}



.skip:focus {
     position: absolute;
     top: 25px;
}


.container {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 13px;
}
