/*Your Code Here*/

* {
     font-family: "Atkinson Hyperlegible", sans-serif;
     font-size: 16px;
}

h1,
h2,
h3,
h4 {
     font-family: "Oswald", sans-serif;
     font-optical-sizing: auto;
     color: #00274C;
     padding: 20px 10px;
}

h1 {
     font-size: 32px;
}

h2 {
     font-size: 24px;
}

h3 {
     font-size: 20px;
}

h4 {
     font-size: 18px;
}

li {
     padding: 10px;
     line-height: 23px;
     /* https://www.w3schools.com/cssref/tryit.php?filename=trycss_list-style-position */
     list-style-position: inside;
}

p {
     padding: 20px 10px;
     line-height: 23px;
     font-size: 16px;
}

header {
     background-color: #00274C;
}

header h3 {
     color: #fff;
}

header img {
     width: 50px;
     height: 50px;
     padding: 10px;
}

section {
     padding: 20px 0;
}

.site-branding {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}

iframe,
img {
     width: 100%;
}

nav ul {
     text-align: left;
     display: grid;
     grid-template-columns: 1fr 1fr;
}

nav li {
     text-align: center;
     border: #2f4972 1px solid;
}

nav a {
     color:#fff;
     font-weight: bold;
     text-decoration: none;
}

nav a.highlighted {
     color: #FFCB05;
     text-decoration: underline;
}

.skip {
     position: absolute;
     top: -65px;
     background-color: #FFCB05;
     padding: 10px;
}



.skip:focus {
     position: absolute;
     top: 25px;
}


.container {
     padding: 10px;
}

.tabs {
     display: grid;
     grid-template-columns: 1fr 1fr;
}

.tabs a {
     text-decoration: none;
     padding: 20px 10px;
     font-weight: 600;
     color: #00274C;
     text-align:center;
}

/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */
.tabs a:nth-child(1) {
     background-color: #d8edff;
}

.tabs a:nth-child(2) {
     background-color: #00274c;
     color: #d8edff;
}

.tabs a:nth-child(3) {
     background-color: #9a3324;
     color: #fff;
}

.tabs a:nth-child(4) {
     background-color: #ffcb05;
}

.tabs a:nth-child(5) {
     background-color: #a9bfef;
}

.tabs a:nth-child(6) {
     background-color: #702082;
     color: #fff;
}

footer {
     background-color: #00274C;
     color: #fff;
}

footer a:visited {
     color: #FFCB05;
}

@media only screen and (min-width: 768px) {
     nav ul {
          grid-template-columns: 1fr 1fr 1fr 1fr;
     }
     main {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
     }
     section {
          padding: 30px;
     }
     #welcome {
          grid-column: 1 / span 3;
     }
     aside .tabs {
          display: grid;
          grid-template-columns: 1fr;
     }
}